# Approach
Size of dataset\
    *Amount of columns\
    *Number of rows\
Make sense of the columns and info. in each of them\
    *Modify column names from portuguese to english\
    *Data type: What it is vs What is should be\
What is the dataset about

In [3]:
import pandas as pd
import numpy as np
import csv

In [4]:
df = pd.read_csv("C:\\Users\\jorge\\Desktop\\Analysis\\central_west.csv")

# Rows and columns

In [5]:
df.shape

(11427120, 27)

In [6]:
print('Rows: ', len(df))

Rows:  11427120

In [7]:
print('Columns: ', len(df.columns))

Columns:  27

In [8]:
df.columns

Index(['index', 'Data', 'Hora', 'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)',
       'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)',
       'PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)',
       'PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)',
       'RADIACAO GLOBAL (Kj/m²)',
       'TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)',
       'TEMPERATURA DO PONTO DE ORVALHO (°C)',
       'TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)',
       'UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)',
       'UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)',
       'UMIDADE RELATIVA DO AR, HORARIA (%)',
       'VENTO, DIREÇÃO HORARIA (gr) (° (gr))', 'VENTO, RAJADA MAXIMA (m/s)',
       'VENTO, VELOCIDADE HORARIA (m/s)', 'region', 'state', 'station',
       'station_code', 'latitude', 'longitude', 'height'],
      dtype='object')

# Modified column names

In [9]:
columns_english = ['index', 'date', 'hour', 'total precipitation mm',
'atmoshperic pressure at station height (mb)', 'atmospheric pressure max. in the previouse hour (mb)', 
'atmospheric pressure min. in the previouse hour (mb)', 'radiation (kj/m2)', 
'air temperature - dry bulb (celsius)', 'dew point temperature (celsius)', 
'max. temperature in the previous hour (celsius)', 'min. temperature in the previous hour (celsius)',
'dew temperature max. in the previous hour (celsius)', 'dew temperature min. in the previous hour (celsius)', 
'relative humidity max. in the previous hour (%)', 'relative humidity min. in the previous hour (%)',
'air relative humidity (%)', 'wind direction (gr)', 'wind rajada maxima (m/s)',
'wind speed (m/s)', 'region', 'state', 'station', 'station_code', 'latitude',
'longitude', 'height']

df.columns = columns_english

In [10]:
df.columns

Index(['index', 'date', 'hour', 'total precipitation mm',
       'atmoshperic pressure at station height (mb)',
       'atmospheric pressure max. in the previouse hour (mb)',
       'atmospheric pressure min. in the previouse hour (mb)',
       'radiation (kj/m2)', 'air temperature - dry bulb (celsius)',
       'dew point temperature (celsius)',
       'max. temperature in the previous hour (celsius)',
       'min. temperature in the previous hour (celsius)',
       'dew temperature max. in the previous hour (celsius)',
       'dew temperature min. in the previous hour (celsius)',
       'relative humidity max. in the previous hour (%)',
       'relative humidity min. in the previous hour (%)',
       'air relative humidity (%)', 'wind direction (gr)',
       'wind rajada maxima (m/s)', 'wind speed (m/s)', 'region', 'state',
       'station', 'station_code', 'latitude', 'longitude', 'height'],
      dtype='object')

In [11]:
df.dtypes

index                                                     int64
date                                                     object
hour                                                     object
total precipitation mm                                  float64
atmoshperic pressure at station height (mb)             float64
atmospheric pressure max. in the previouse hour (mb)    float64
atmospheric pressure min. in the previouse hour (mb)    float64
radiation (kj/m2)                                         int64
air temperature - dry bulb (celsius)                    float64
dew point temperature (celsius)                         float64
max. temperature in the previous hour (celsius)         float64
min. temperature in the previous hour (celsius)         float64
dew temperature max. in the previous hour (celsius)     float64
dew temperature min. in the previous hour (celsius)     float64
relative humidity max. in the previous hour (%)           int64
relative humidity min. in the previous hour (%)           int64
air relative humidity (%)                                 int64
wind direction (gr)                                       int64
wind rajada maxima (m/s)                                float64
wind speed (m/s)                                        float64
region                                                   object
state                                                    object
station                                                  object
station_code                                             object
latitude                                                float64
longitude                                               float64
height                                                  float64
dtype: object

# Meaning of -9999?

In [12]:
df[df.columns[0:15]][10:20]

,index,date,hour,total precipitation mm,atmoshperic pressure at station height (mb),atmospheric pressure max. in the previouse hour (mb),atmospheric pressure min. in the previouse hour (mb),radiation (kj/m2),air temperature - dry bulb (celsius),dew point temperature (celsius),max. temperature in the previous hour (celsius),min. temperature in the previous hour (celsius),dew temperature max. in the previous hour (celsius),dew temperature min. in the previous hour (celsius),relative humidity max. in the previous hour (%)
10,139008,2017-12-21,00:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999
11,139009,2017-12-21,01:00,-9999.0,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999
12,139010,2017-12-21,02:00,0.0,898.3,898.4,898.2,-9999,20.6,15.3,21.1,20.5,15.6,14.9,73
13,139011,2017-12-21,03:00,0.0,897.9,898.3,897.9,-9999,19.9,15.1,20.9,19.9,15.8,14.7,77
14,139012,2017-12-21,04:00,0.0,897.5,897.9,897.5,-9999,19.4,15.6,20.2,19.4,15.6,14.8,79
15,139013,2017-12-21,05:00,0.0,897.2,897.5,897.2,-9999,19.1,15.3,19.5,19.1,16.0,15.1,82
16,139014,2017-12-21,06:00,0.0,896.9,897.2,896.9,-9999,19.5,15.4,19.8,18.9,16.0,15.2,82
17,139015,2017-12-21,07:00,0.0,896.9,897.0,896.9,-9999,19.4,15.5,19.7,19.3,15.8,15.4,80
18,139016,2017-12-21,08:00,0.0,897.1,897.1,896.8,-9999,19.8,15.8,19.9,18.9,15.9,15.5,83
19,139017,2017-12-21,09:00,0.0,897.5,897.5,897.1,18,19.6,15.9,20.0,19.6,16.0,15.8,79

In [13]:
df[df.columns[14:]][10:20]

,relative humidity max. in the previous hour (%),relative humidity min. in the previous hour (%),air relative humidity (%),wind direction (gr),wind rajada maxima (m/s),wind speed (m/s),region,state,station,station_code,latitude,longitude,height
10,-9999,-9999,-9999,-9999,-9999.0,-9999.0,CO,DF,PARANOA (COOPA-DF),A047,-16.011111,-47.5575,1043.0
11,-9999,-9999,-9999,-9999,-9999.0,-9999.0,CO,DF,PARANOA (COOPA-DF),A047,-16.011111,-47.5575,1043.0
12,73,68,72,26,2.1,0.7,CO,DF,PARANOA (COOPA-DF),A047,-16.011111,-47.5575,1043.0
13,77,68,74,282,1.5,0.5,CO,DF,PARANOA (COOPA-DF),A047,-16.011111,-47.5575,1043.0
14,79,71,79,9,1.2,0.4,CO,DF,PARANOA (COOPA-DF),A047,-16.011111,-47.5575,1043.0
15,82,76,79,17,1.2,0.4,CO,DF,PARANOA (COOPA-DF),A047,-16.011111,-47.5575,1043.0
16,82,76,77,23,2.2,1.0,CO,DF,PARANOA (COOPA-DF),A047,-16.011111,-47.5575,1043.0
17,80,77,78,46,2.2,0.4,CO,DF,PARANOA (COOPA-DF),A047,-16.011111,-47.5575,1043.0
18,83,78,78,12,3.1,1.4,CO,DF,PARANOA (COOPA-DF),A047,-16.011111,-47.5575,1043.0
19,79,77,79,6,3.6,1.8,CO,DF,PARANOA (COOPA-DF),A047,-16.011111,-47.5575,1043.0

In [14]:
df.isnull().sum()

index                                                   0
date                                                    0
hour                                                    0
total precipitation mm                                  0
atmoshperic pressure at station height (mb)             0
atmospheric pressure max. in the previouse hour (mb)    0
atmospheric pressure min. in the previouse hour (mb)    0
radiation (kj/m2)                                       0
air temperature - dry bulb (celsius)                    0
dew point temperature (celsius)                         0
max. temperature in the previous hour (celsius)         0
min. temperature in the previous hour (celsius)         0
dew temperature max. in the previous hour (celsius)     0
dew temperature min. in the previous hour (celsius)     0
relative humidity max. in the previous hour (%)         0
relative humidity min. in the previous hour (%)         0
air relative humidity (%)                               0
wind direction (gr)                                     0
wind rajada maxima (m/s)                                0
wind speed (m/s)                                        0
region                                                  0
state                                                   0
station                                                 0
station_code                                            0
latitude                                                0
longitude                                               0
height                                                  0
dtype: int64

In [15]:
path = "C:\\Users\\jorge\\Desktop\\Analysis\\UPDATED_central_west.csv"
file = open(path, 'w', newline='')
csvwriter = csv.writer(file)

In [16]:
rows = df.to_numpy().tolist()

In [17]:
# header = df.columns

# rows = [df.iloc[i] for i in range(5, 20)]
# print(rows)

In [19]:
csvwriter.writerow(df.columns)
csvwriter.writerows(rows)

In [20]:
file.close()